DMPW_API_VERSION=QK4_1.0.1
WEBAPP_ARMY_VERSION=1.0.2
WEBAPP_VERSION=QK4_1.0.1
RABBITMQ_VERSION=3.8
POSTGRES_VERSION=16.3
LOGGER_VERSION=latest
BACKUP_VERSION=latest
GRAFANA_VERSION=latest
PROMETHEUS_VERSION=latest
CADVISOR_VERSION=latest
NODE_EXPORTER_VERSION=latest
NGINX_VERSION=latest
DMPW_DEVICE_SDK_VERSION=1.0.11
NEXT_PUBLIC_API_ENDPOINT=http://HOST_IP:5000
NEXT_PUBLIC_WS_ENDPOINT=ws://HOST_IP:5000/ws