{
  "DefaultAccountClientMqtt": [
    {
      "UserName": "icuclient",
      "PassWord": "icuclient123"
    },
    {
      "UserName": "ITouchPopX",
      "PassWord": "ITouchPopX123"
    },
    {
      "UserName": "clientweb",
      "PassWord": "clientweb123"
    },
    {
      "UserName": "sdk",
      "PassWord": "sdk123"
    },
    {
      "UserName": "apiserver",
      "PassWord": "apiserver123"
    }
  ]
}