{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    },
    "LogDir": "logs/log_{Date}.txt"
  },
  "QueueConnectionSettings": {
    "Host": "HOST_IP",
    "VirtualHost": "/",
    "Port": 1883,
    "PortSsl": 8883,
    "CertPassphrase": "dmpw-rabbitmq-test",
    "DeviceCaCertificate": "/app/certificate/ca_certificate.pem",
    "DeviceClientKey": "/app/certificate/client_key.pem",
    "DeviceCientCertificate": "/app/certificate/client_certificate.pem",
    "DeviceServerCertificate": "/app/certificate/server_certificate.pem",
    "DeviceServerKey": "/app/certificate/server_key.pem"
  },
  "AppSettings": {
    "Port": 5001
  },
  "Jwt": {
    "SecretKey": "F7peYX7825YkwztCxgjzZGF4yExvu4Tdwfwf44dVHMpnGa3V5jabYjFhGf",
    "ExpiryMinutes": "300",
    "ExpiryRefreshToken": "259200",
    "Issuer": "duali",
    "ValidateLifetime": true
  },
  "DefaultAccount": [
    {
      "UserName": "admin",
      "PassWord": "admin123"
    },
    {
      "UserName": "client",
      "PassWord": "client123"
    }
  ]
}